* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5DC !important;
  height: 100%;
}

footer {
  position: absolute;
  width: 100%;
  background-color: white;
  text-align: center;
  bottom: 0;
}

.navbar {
  background-color: #F5F5DC;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav-link {
  color: black !important;
}

.grid-container {
  display : grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.front-greeting {
  display : flex;
  justify-content: space-between;
  align-items: center;
}
.front-intro {
  text-align: center;
  font-size: 5rem;
  color: #2980B9;
}

.front-body {
  text-align: center;
  width: 75%
}

.front-paragraph {
  font-size: 2rem;
  color: 	#2980B9;
}

